// styles/variables.scss

$color-primary: #F52E6B;
$color-primary-hover: #FE6587;
$radius-lg: 16rpx;
$radius-md: 12rpx;
$color-brand-text-dark: #1C2340;
$color-alipay: #00A0E9;
$color-alipay-hover: #0095D9;